{% extends 'base.html.twig' %}

{% block title %}Redirection{% endblock %}

{% block body %}
<div class="container">
    <h1>Connexion réussie</h1>
    <p>Vous allez être redirigé vers le tableau de bord...</p>
    
    <script>
        // Utilise la redirection JS vers dashboard_index au lieu de dashboard
        window.onload = function() {
            setTimeout(function() {
                window.location.href = "{{ path('dashboard_index') }}";
            }, 500);
        }
    </script>
</div>
{% endblock %}