{% extends 'base.html.twig' %}

{% block body %}
    <h2>Réinitialiser le mot de passe</h2>
    <form method="post">
        <input type="password" name="new_password" required placeholder="Nouveau mot de passe">
        <input type="hidden" name="token" value="{{ token }}">
        <button type="submit">Réinitialiser</button>
    </form>
{% endblock %}
