{# filepath: /var/www/html/src/templates/entreprise/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block body %}
    <h1>Liste des entreprises</h1>
    <p>Contenu de la liste des entreprises à afficher ici.</p>
{% endblock %}