{# filepath: /var/www/html/src/templates/entreprise/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détails de l'entreprise{% endblock %}

{% block body %}
    <h1>Détails de l'entreprise</h1>
    <p>Informations détaillées sur l'entreprise.</p>
{% endblock %}